.header-banner {
  background-color: var(--light-purple);
}

.text-green {
  color: #3cb027;

  &:hover {
    color: #006000;
  }
}

.bg-light-green {
  background-color: #e7f5e5;
}

.bg-light-purple {
  align-items: center;
  background-color: #9d5fcac3;
}

.text-purple{
  color: #551b8b;

  &:hover {
    color: #2b0446;
  }
}

.tourist-img{
  width: 100%;
  
  @media (max-width: 990px) {
    width: 50%;
    margin: auto;
  }
}